[core]
  whitespace = trailing-space,space-before-tab
  editor = nvim
  excludesfile = ~/.gitignore_global
  pager = delta
  attributesfile = ~/.gitattributes
  commentChar = auto
  autocrlf = input
[include]
  path = ~/.gitconfig_local
[interactive]
  diffFilter = delta --color-only --features=interactive
[diff]
  renames = copies
  colorMoved = default
  mnemonicprefix = true
  prompt = false
  external = difft
[delta]
  pager = less
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  inspect-raw-lines = false
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"
  navigate = true
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul
[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
[branch]
  autosetupmerge = true
[push]
  default = current
  autoSetupRemote = true
[rerere]
  enabled = true
[difftool]
  prompt = false
[mergetool "vim_mergetool"]
  cmd = nvim -f -c "MergetoolStart $MERGED $BASE $LOCAL $REMOTE"
[mergetool]
  prompt = false
[merge]
  stat = true
  tool = vim_mergetool
  conflictStyle = zdiff3
  prompt = false
[pull]
  rebase = false
[alias]
  # Git Commit, and Push — in one step.
  cmp = "!f() { git commit -m \"$@\"; }; f"
  # NEW.
  new = "!f() { git cmp \"📦 NEW: $@\"; }; f"
  # IMPROVE.
  imp = "!f() { git cmp \"👌 IMPROVE: $@\"; }; f"
  # FIX.
  fix = "!f() { git cmp \"🐛 FIX: $@\"; }; f"
  # RELEASE.
  rlz = "!f() { git cmp \"🚀 RELEASE: $@\"; }; f"
  # DOC.
  doc = "!f() { git cmp \"📖 DOC: $@\"; }; f"
  # TEST.
  tst = "!f() { git cmp \"🤖 TEST: $@\"; }; f"
  # BREAKING CHANGE.
  brk = "!f() { git cmp \"‼️ BREAKING: $@\"; }; f"
  # Logline
  lol = log --graph --decorate --oneline
  lola = log --graph --decorate --oneline --all
  # Diff, Status
  df = diff --color=always --color-words --abbrev
  st = status -sb
  last = log -1 HEAD
  unstage = reset HEAD --
  pj = !which onefetch && onefetch
  # show conflicted files
  uu = diff --name-only --diff-filter=U
  staa = stash --all
  wta = worktree add
  wtl = worktree list
  wtr = worktree remove
[color]
  ui = auto
  diff = auto
  status = auto
  interactive = auto
  pager = true
[init]
  defaultBranch = main
