# ctags
tags*

# nvim
vim/.vim/pack
vim/.vim/spell
vim/.vim/.netrwhist

# .bin
bin/.bin/
!!bin/.bin/readme_template_downloader
!!bin/.bin/readme_template_downloader.nim
!!bin/.bin/tat
!!bin/.bin/tm
!!bin/.bin/ytwtch.sh
!!bin/.bin/yt.sh
