# ctags
tags*

# helix runtime when compiled from source
helix/.config/helix/runtime

# homebrew
homebrew/*.lock.json

# nvim
vim/.vim/pack
vim/.vim/spell
vim/.vim/.netrwhist
vim/.vim/view
nvim/.config/nvim/lazy-lock.json

# kitty backup
kitty/.config/kitty/kitty.conf.bak

# .local
bin/.local/state
bin/.local/share
bin/.local/scripts/goland
bin/.local/scripts/rider
bin/.local/scripts/idea
bin/.local/scripts/webstorm*
bin/.local/scripts/weap
bin/.local/scripts/datagrip

# nvim
lazy-lock.json

# sioyek
sioyek/
!"sioyek/Library/Application Support/sioyek/keys_user.config"
