theme = "nord"

[editor]
mouse = false
scroll-lines = 1
cursorline = true
auto-save = false
completion-trigger-len = 1
true-color = true
color-modes = true
rulers = [120]
idle-timeout = 50
bufferline = "multiple"

[editor.file-picker]
hidden = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true
character = "â–"

[editor.lsp]
display-messages = true
display-inlay-hints = true

[editor.statusline]
left = ["mode", "spinner", "file-name", "file-type", "total-line-numbers", "file-encoding"]
center = []
right = ["selections", "primary-selection-length", "position", "position-percentage", "spacer", "diagnostics", "workspace-diagnostics", "version-control"]

[keys.normal]
"ret" = ["move_line_down", "goto_first_nonwhitespace"] # Maps the enter key to move to start of next line
X = "extend_line_above"
D = "delete_char_backward"
esc = ["collapse_selection", "keep_primary_selection"]
"[" = { "b" = "goto_previous_buffer" }
"]" = { "b" = "goto_next_buffer" }

[keys.normal.g]
a = "code_action"
o = "goto_last_accessed_file"
q = ":reflow"

[keys.normal.space]
x = ":buffer-close"
X = ":x"

[keys.normal.","]
f = ":format"
"," = ["keep_primary_selection"]

[keys.normal.",".b]
q = ":buffer-close"
a = ":buffer-close-all"
o = ":buffer-close-others" 

[keys.insert]
C-space = "completion"
"C-[" = "normal_mode"
# Move cursor in insert mode
A-h = "move_char_left"
A-j = "move_line_down"
A-k = "move_line_up"
A-l = "move_char_right"
A-o = "open_below"
A-O = "open_above"

# insert "macros"
[keys.insert."\\"]
h = ["normal_mode", ":insert-output echo '=>'", "collapse_selection", "insert_at_line_end"]
n = ["normal_mode", ":insert-output echo '->'", "collapse_selection", "insert_at_line_end"]

